<%= content_for :head do %>
  <%= stylesheet_link_tag "main" %>
<% end %>

<div class="hero">
  <div class="container">
    <div class="row">

      <h3>We host face to face, online town halls</h3>

      <div class="goals span9">
        <h4>We want to...</h4>
        <ul>
          <li>make influencers and elected officals accessible.</li>
          <li>encourage democratic participation.</li>
          <li>increase issue awareness.</li>
        </ul>
      </div>

      <div class="clip span7">
        <div class="viewclip">Watch our last town hall <strong>»</strong></div>
        <iframe class="vimeo" src="http://player.vimeo.com/video/32215902?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>

    </div>
  </div>
</div>

<div class="content">
  <div class="container">

    <div class="row">

      <div class="upcoming span9">
        <h3>Next event</h3>
        <% if @next %>
          <p class="name"><%= @next.user.full_name %></p>
          <p class="time"><%= @next.start_time.to_s(:start_time_format) %></p>
        <% else %>
          <p> No upcoming events</p>
        <% end %>
      </div>

      <div class="signup span6">
        <h3>Sign up</h3>
        <p>Get information on upcoming events</p>
        <%= render 'subscribers/form' %>
      </div>

    </div>
  </div>
</div>
