<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.bootstrap_email_field :email %>
  <%= f.bootstrap_password_field :password %>

  <% if devise_mapping.rememberable? -%>
    <div class="clearfix">
      <div class="input">
        <%= f.check_box :remember_me %>
        <span>Remember me</span>
      </div>
    </div>
  <% end -%>

  <%= f.submit "Sign in", :class=> "btn primary" %>
<% end %>
