<% content_for :head do %>
  <%= stylesheet_link_tag "show" %>
  <% if false %>
  <%= javascript_include_tag "http://static.opentok.com/v0.91/js/TB.min.js" %>
  <%= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js" %>
  <%= javascript_include_tag "shows" %>
  <script type="text/javascript">

    window.app_config = {
show: <%= @show.to_json.html_safe %>,
      role: "<%= @role %>",

      session: TB.initSession("<%= @show.session_id %>"),

      opentok_api_key: <%= APP_CONFIG['opentok_api_key'] %>,
      opentok_token: "<%= @token %>",

      pusher: new Pusher("<%= APP_CONFIG['pusher_key'] %>").subscribe("<%= @show.id %>")
    }

</script>
<% end %>
<% end %>

<% if @role == "moderator" %>
  <div class="main moderator">
  <% else %>
    <div class="main non-moderator">
    <% end %>
    <div class="container">
      <div class="row">
        <div class="span5 sidebar">
          <div class="chat">
            <ul class="messages">
              <li><span>Jonathan Mumm:</span> Lorem iipsum doloripsum doloripsum doloripsum dolorpsum dolor</li>
              <li><span>Jonathan Mumm:</span> Lorem ipsum dolor</li>
              <li><span>Jonathan Mumm:</span> Lorem iipsum doloripsum doloripsum doloripsum dolorpsum dolor</li>
            </ul>
            <div class="input">
              <input type="text" id="message" name="message" placeholder="Enter text to chat">
              <button class="submit btnStd primary">Submit</button>
            </div>
            <div class="chat"></div>
          </div>
          <div class="panel">
          </div>
        </div>
        <div class="span11 stage">
          <div class="hall-title">
            <h4><%= @show.start_time.to_s(:start_time_format) %></h4>
          </div>
          <div class="host placeholder participant">
            <div class="participant-wrapper">
              <h3>Placeholder</h3>
              <div class="video"></div>
            </div>
          </div>
          <div class="guest placeholder participant">
            <div class="participant-wrapper">
              <h3>Guest</h3>
              <div class="video"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="loginModal" class="modal hide fade">
    <div class="modal-header">
      Must login
    </div>
    <div class="modal-body">
      hihi
      <%= link_to "Facebook", signin_path(:facebook) %>
      <%= link_to "Twitter", signin_path(:twitter) %>
    </div>
  </div>
