<% content_for :head do %>
  <%= stylesheet_link_tag "show" %>
  <%= javascript_include_tag "http://static.opentok.com/v0.91/js/TB.min.js" %>
  <%= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js" %>
  <%= javascript_include_tag "shows" %>
  <script type="text/javascript">

    window.app_config = {
      show: <%= @show.to_json.html_safe %>,
      role: "<%= @role %>",

      session: TB.initSession("<%= @show.session_id %>"),

      opentok_api_key: <%= APP_CONFIG['opentok_api_key'] %>,
      opentok_token: "<%= @token %>",

      pusher: new Pusher("<%= APP_CONFIG['pusher_key'] %>").subscribe("<%= @show.id %>")
    }

</script>
<% end %>

<% if @role == "moderator" %>
  <div class="main moderator">
  <% else %>
    <div class="main non-moderator">
    <% end %>
    <div class="container">
      <div class="row">
        <div class="span5 sidebar">
          <div class="chat">
            <ul class="messages">
            </ul>
            <div class="input">
              <input type="text" id="message" name="message" placeholder="Enter text to chat">
              <button class="submit btn">Enter</button>
            </div>
            <div class="chat"></div>
          </div>
          <div class="panel">
          </div>
        </div>
        <div class="span11 stage">
          <div class="host placeholder participant">
            <div class="participant-wrapper">
              <h3>Placeholder</h3>
              <div class="video"></div>
            </div>
          </div>
          <div class="guest placeholder participant">
            <div class="participant-wrapper">
              <h3>Guest</h3>
              <div class="video"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="loginModal" class="modal hide fade">
    <div class="modal-header">
      <h3>Login</h3>
    </div>
    <div class="modal-body">
      <%= render 'devise/login' %>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn">Cancel</a>
    </div>
  </div>

  <div id="questionModal" class="modal hide fade">
    <div class="modal-header">
      <h3>Enter your question</h3>
    </div>
    <div class="modal-body">
      <div class="input">
        <input type="text" id="question" name="message" placeholder="Enter your question.">
        <button class="submit btn">Enter</button>
      </div>
    </div>
  </div>
