<% content_for :head do %>
  <%= javascript_include_tag "http://staging.tokbox.com/v0.91/js/TB.min.js" %>
  <script type="text/javascript">

    window.app = new Showjo.Models.App({

      show_id: <%= @show.id %>,
      is_moderator: <%= @moderator %>,

      session: TB.initSession("<%= @show.session_id %>"),

      opentok_api_key: <%= APP_CONFIG['opentok_api_key'] %>,
      opentok_token: "<%= @token %>"

    });

  </script>
  <%= javascript_include_tag "shows" %>
<% end %>

<div class="page-header">
  <h1><%= @show.title %></h1>
</div>
<div class="app row"></div>
