<!DOCTYPE html>
<html>
<head>
  <title>Townhall 140</title>
  <%= google_font_link_tag("Lobster") %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    <div class="header">
      <%= image_tag "logo.png" %>
      <h2>Face to face on issues that matter</h2>
    </div>

    <%= yield %>
    <div class="push"></div>
  </div>
  <div class="footer">
    <div class="container">
    <%= image_tag "logo.png" %>
    <ul>
      <li><%= link_to "contact us", "mailto:contact@townhall140.com" %></li>
      <li><%= link_to "blog", "http://townhall140.tumblr.com/" %></li>
    </ul>
    </div>
  </div>


</body>
</html>
